:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   --me-color: #329696;
   --project-color: #3E9858;
   --skill-color: #856ED9;
   --fun-color: #B95F9D;
   --contact-color: #C19433;
}

body {
  margin: 0;
}
